%li
  = link_to "<b>#{result.price}&euro;</b> #{result.legs[0].airline_display}", result.url, :target => "_blank"
  %br/
  von 
  = "#{result.legs[0].origin}"
  nach
  = "#{result.legs[0].destination}"
