%h1 New flight

- form_for(@flight) do |f|
  .f
  = f.error_messages
  %ol.formlist
    %li
      = f.label :origin
      %br
      = f.text_field :origin
    %li
      = f.label :destination
      %br
      = f.text_field :destination
    %li
      = f.submit 'Create'
= link_to 'Back', flights_path